@model FacebookDAW.Models.Group
@{
    ViewBag.Title = "New group";
}
<!-- Breadcrumb Area Start -->
<section style="width:100%;" class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>@ViewBag.Title</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Home/Index"><i class="icon_house_alt"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">New</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<div class="container bg-light" style="padding:10%;">
    <form method="post" action="/Group/New">
        <div class="row">
            <div class="col-sm-4">
                @Html.Label("Name", "Name")
            </div>
            <div class="col-sm-8">
                @Html.TextBox("Name", null, new { @class = "form-control", required = "required", placeholder = "Enter group name" })
                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger " })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <button class="btn akame-btn" type="submit">Add group</button>
            </div>
        </div>
</form>
</div>



